<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'about'}); %>

    <main>
        <div class="jumbotron">
            <h1>sobre mim</h1>
            <p>oi. eu sou o luan.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>  
</body> 

</html>